<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petdom.breeder" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BreederApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.BreederListActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".ui.AddBreederActivity"
            android:parentActivityName=".ui.BreederBaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.petdom.breeder.ui.BreederBaseActivity" />
        </activity>
        <activity
            android:name=".ui.AddEditDogProfileActivity"
            android:parentActivityName=".ui.BreederBaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.petdom.breeder.ui.BreederBaseActivity" />
        </activity>
        <activity
            android:name=".ui.DogListActivity"
            android:parentActivityName=".ui.BreederBaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.petdom.breeder.ui.BreederBaseActivity" />
        </activity>
        <activity
            android:name=".ui.ImagePreviewActivity"
            android:parentActivityName=".ui.BreederBaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.petdom.breeder.ui.BreederBaseActivity" />
        </activity>
        <activity
            android:name=".loginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
